<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>score</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">score</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon
        style="margin-left: 15px"
        size="large"
        name="basketball-outline"
      >
      </ion-icon>
    </ion-buttons>
    <ion-title>SCORE APPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-text color="secondary" class="ion-text-center">
      <h1 class="ion-2x" style="font-size: 10em">{{ count }}</h1>
      <ion-button color="success" (click)="up()" expand="block"
        >Up ⬆</ion-button
      >
      <ion-button color="warning" (click)="down()" expand="block"
        >Down ⬇</ion-button
      >
      <ion-button color="primary" (click)="backHome()" expand="block"
        >Back Home 🏠</ion-button
      >
    </ion-text>
  </ion-card>


